


* {
    padding: 0px;
    margin: 0;
}


.convaswrapper {
  position: relative;
}

.Board {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.secondBoard {
  display: block;
  position: absolute;
  z-index: 5;

}

.TopBoard {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  

}


.avatars {
  z-index: 10;
  pointer-events: none; 
  top: 0;
  left: 0;
  position: absolute;
}