


.bottomboard {

    z-index: 15;
    width: 150px;
    height: 30px;
    background-color: #a6a6a6;
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 10px;
    

    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    


}