

.panel {

    background-color: #a6a6a6;
    z-index: 15;
    position: absolute;
    left: 15px;

    border: 1px solid #707070;
    border-radius: 15px;
    height: 350px;
    width: 150px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: medium;
    word-wrap: break-word;
    padding: 5px;
}


.colorbox {
    display: flex;
    flex-direction:row;
    height: 20px;
    width: 100%;
    gap: 10px;
}

.colorbox button{
    width: 20%;
    
}